<h2> Edit Student Profile Information </h2>

<%= render 'form' %>

     <br>

  <%= link_to 'Remove', student_path, method: :delete, data: { confirm: 'Are you sure?' } %>

     <br>


<%= link_to 'Back To Student Profiles', students_path %> 