<div class="row justify-content-md-center">

    <div class="col-2">
      
    </div>

    <div class="col-8 current_event bg-img">
      <div class="date_size"> <%= @first_event.date.strftime("%B %-d, %Y") %></div>
      <div class="time_large centered"> <%= @first_event.start_time.strftime("%-I:%M%p") %></div>
      <div class="title_size centered"> <%= @first_event.title %></div>
      <%= link_to "Register For Event", new_event_guest_path(@first_event.id), class: "btn float-right" %>
    </div>

    <div class="col-2">
    </div>

</div>

<div class="row empty_space">
</div>

