
<div class="row justify-content-md-center">

    <div class="col-3">
      <h1 class="page_title">new event</h1>
    </div>

    <div class="col-6">
        <%= render 'form' %>
    </div>
    
    <div class="col-3">
      
    </div>

</div>

<div class="row empty_space">
</div>