<div class="row justify-content-md-center">

    <div class="col-2">
      <h1 class="page_title">about.</h1>
    </div>

    <div class="col-8">

    <b>jrdevs</b> allows recruiters to attend bootcamp alumni final presentations. This provides an intimate environment for recruiters and alumni versus job fairs; which can have too many people,  unnecessary distractions, and lastly the recruiters are not able to see the job seekers work.  Through jrdevs recruiters will have a more engaging dialogue with alumni. This can help build relationships and possibly lead employment. Alumni are looking for opportunities and recruiters are looking for talent. What better way to fill this gap via jrdevs!
    <br>
    <small><b>*Exclusively available for New York Code & Design Academy.</b></small>
 
    </div>

    <div class="col-2">
    </div>
    
<div>

<div class="row-12 empty_space">
</div>
