// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.page_title {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 10vw;
    color: adjust-hue($color: #ffe600, $degrees: -10)
  }


.table_format {
    color: white;
    padding: 20px;
    list-style-type:none;
}

.date {
    font-size: 3vw;
}

.title {
    font-size: 2.5vw;
}

.time {
    font-size: 3vw;
}

.description {
    font-size: 2vw;
}

.btn_txt {
    font-size: 1vw;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #fabb3c;
    text-decoration: none;
  }

.eventshow {
    background-color: #ef0a0ae6;
}

//colors for tables

.firstcolor {
    background:#350aefe6;
 }

.secondcolor {
    background: #ec14d8d4;
 }

 .thirdcolor {
    background: #15d017e0;
 }

.fourthcolor {
    background: #ff6401d9;
 }