// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student_short_bio {
    height: 12rem;
    color: white;
}

.headshot_big img{
    height: 14rem;
    border-radius: 10px;
}


.headshot_small{
overflow:hidden;
 
}

.headshot_small img{

 width:100%;

 
}

.thumb_nail{
   
}

.student_short_bio a{
    color:black;    
    padding: 1.5px;
    border-top-right-radius: 10px;

}

.student_short_bio a:hover{
    color:#efc23e;  
}

 .student_short_bio_one {
    background:rgb(84, 57, 199);
 }

  .student_short_bio_two {
    background: rgb(200, 73, 188);
 }

 .student_short_bio_three {
    background: rgb(87, 182, 88);
 }

.student_short_bio_four {
    background: rgb(244, 104, 66);
 }

// ________________________ Media Q's _____________________________
@media only screen and (max-width: 660px) {
    .student_email {
        display:none;
    }
    .delete_button {
        display:none;
    }
}