<div class="row">
  <div class="col-md-2">
    <h1 class="page_title"> new.</h1>
    
  </div>

  <div class="col-md-6">
    <%= render 'form' %>
    
  </div>

  <div class="col-md-4">
    <%= link_to 'Back To Student Profiles', students_path, class: "btn" %> 
    
  </div>
  
</div>

<div class="row-12 empty_space">
  
</div>