<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <title>jrdevs.</title>
</head>
<body>
  <%= custom_bootstrap_flash %>
   
    <div class="logo">jrdevs</div>

    <%= yield %>
    
</body>
</html>